body{
  padding-top: 5rem;
  padding: 20px;
}

.indiefont{
	text-align: right;
	font-family: 'Indie Flower', cursive;
} 

figcaption{
	font-family: 'Indie Flower', cursive;
}

p{
 font-family:'Indie Flower', cursive;
	
}

.controller{
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 100%;
}

.books{
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 100%;
}

.maphands{
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 100%;
}

.about{
	text-align: center;
	font-family: 'Indie Flower', cursive;
}
 
 #aboutsection{
 	display: block;
 	padding: 20px 20px 20px 20px; 
    border-radius: 2%;
}

 .computerimage{
 	width: 100%;
 	padding:1px 1px 1px 1px;
 	border-radius: 1%;
 	border: 2px solid #89043D;;
 }

 .logo{
 	text-align: left;
 }

 footer{
 	text-align: center;
 	font-family: 'Indie Flower', cursive;
 }

.work{
 	text-align: center;
 	font-family: 'Indie Flower', cursive;
 }

 #worksection{
 	display: block;
 	padding: 20px 20px 20px 20px; 
 	border-radius: 2%;
 }

#contactsection{
 	display: block;
 	padding: 20px 20px 20px 20px; 
 	border-radius: 2%;
 	text-align: center;
 }

 .contact{
 	text-align: center;
 	font-family: 'Indie Flower', cursive;
 }

hr {
	border-bottom: 4px solid #89043D;
}

.contact_icons{
	display: block;
	text-align: center;
}

.flex-grid {
	display: flex;
}

.col {
	flex: 1;
}

@media screen and (min-width: 400px ){
.flex-grid {
	display: block;
 }
}

@media screen and (min-width: 750px ){
	figure{
		width: 33%;
		display: inline-block;
		text-align: center;

	}
}
